---
- name: Create pihole directory
  file:
    path: "/home/{{ ansible_user }}/pihole"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    state: directory
    mode: '0755'

- name: Deploy Docker Compose file
  template:
    src: docker-compose.yml.j2
    dest: "{{ dir_loc }}/docker-compose.yml"
    owner: root
    group: root
    mode: '0755'

- name: Pull docker image
  community.docker.docker_image_pull:
    name: "{{ pihole_image }}"
    platform: "{{ ansible_architecture }}"

# Fix for resolve conf on ubuntu
- name: Configure systemd-resolved for Pi-hole
  when:
    - ansible_facts['os_family'] == 'Debian'
    - ansible_facts['distribution'] == 'Ubuntu'
    - firewall_deploy | bool

  block:
    - name: Disable stub listener
      ansible.builtin.replace:
        path: /etc/systemd/resolved.conf
        regexp: '^#?DNSStubListener=.*'
        replace: 'DNSStubListener=no'

    - name: Disable DNSStubListener in systemd-resolved configuration
      lineinfile:
        path: /etc/systemd/resolved.conf
        regexp: '^#?DNSStubListener='
        line: 'DNSStubListener=no'
        backup: true

    - name: Remove /etc/resolv.conf if it exists
      file:
        path: /etc/resolv.conf
        state: absent

    - name: Create symlink for resolv.conf
      file:
        src: /run/systemd/resolve/resolv.conf
        dest: /etc/resolv.conf
        state: link

    - name: Restart systemd-resolved
      ansible.builtin.service:
        name: systemd-resolved
        state: restarted

# restart docker to ensure IP tables are valid after install
- name: Restart docker
  ansible.builtin.service:
    name: docker
    state: restarted

- name: Start Pi-hole service
  ansible.builtin.command: docker start {{ pihole_container_name }}
  register: pihole_start
  changed_when: "'Started' in pihole_start.stdout"
  failed_when: pihole_start.rc != 0
