---
- name: Create pihole directory
  file:
    path: "{{ pihole_compose_dir }}"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    state: directory
    mode: '0755'

- name: Deploy Docker Compose file
  template:
    src: docker-compose.yml.j2
    dest: "{{ pihole_compose_dir }}/docker-compose.yml"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '0644'

- name: Pull docker image
  community.docker.docker_image_pull:
    name: "{{ pihole_image }}"
    platform: "{{ ansible_architecture }}"

# Fix for resolve conf on ubuntu
- name: Configure systemd-resolved for Pi-hole
  when:
    - ansible_facts['os_family'] == 'Debian'
    - ansible_facts['distribution'] == 'Ubuntu'
    - firewall_deploy | bool

  block:
    - name: Disable stub listener
      ansible.builtin.replace:
        path: /etc/systemd/resolved.conf
        regexp: '^#?DNSStubListener=.*'
        replace: 'DNSStubListener=no'

    - name: Disable DNSStubListener in systemd-resolved configuration
      lineinfile:
        path: /etc/systemd/resolved.conf
        regexp: '^#?DNSStubListener='
        line: 'DNSStubListener=no'
        backup: true

    - name: Remove /etc/resolv.conf if it exists
      file:
        path: /etc/resolv.conf
        state: absent

    - name: Create symlink for resolv.conf
      file:
        src: /run/systemd/resolve/resolv.conf
        dest: /etc/resolv.conf
        state: link

    - name: Restart systemd-resolved
      ansible.builtin.service:
        name: systemd-resolved
        state: restarted

# restart docker to ensure IP tables are valid after install
- name: Restart docker
  ansible.builtin.service:
    name: docker
    state: restarted

- name: Start Pi-hole service (docker compose)
  ansible.builtin.command:
    cmd: >-
      docker compose
      -f {{ pihole_compose_file | default(pihole_compose_dir ~ '/docker-compose.yml') }}
      up -d
  args:
    chdir: "{{ pihole_compose_dir }}"
  register: pihole_compose_up
  changed_when: >-
    pihole_compose_up.stdout is search('(?im)^(creating|recreating|starting|pulling|building)\\b')
    or pihole_compose_up.stderr is search('(?im)^(creating|recreating|starting|pulling|building)\\b')
  failed_when: pihole_compose_up.rc != 0
