# SPDX-License-Identifier: MIT-0
# Used only when ANSIBLE_CONFIG points here (molecule/default/molecule.yml).
# Quiets molecule_docker 2.1 create/destroy playbooks (non-boolean `when:`) on Ansible 2.19+.
[defaults]
collections_path = ./.ansible/collections
inject_facts_as_vars = False
deprecation_warnings = False
allow_broken_conditionals = True
